# config.yaml
cron: False
data_dir: "data"
end_date: null # This will always be overridden to current date in work_flow_new1
push:
  enable: False
  wxpusher_uid: ""
  wxpusher_token: ""
mail:
  enable: False
  smtp_server: "smtp.163.com"
  from_addr: ''
  smtp_port: 465
  password: ""
  to_addr: ""
run_limit_up_backtest: True
strategies:
  东方财富短线策略:
    min_avg_daily_turnover_amount: 100000000
    avg_turnover_days: 20
    min_listed_days: 60
    ma5_cross_ma10_period: 3
    close_above_ma20: true
    macd_gold_cross_within_days: 3
    macd_dif_above_dea_and_zero: true
    volume_ratio_to_5day_avg_min: 1.5
    volume_ratio_to_5day_avg_max: 2.5
    volume_ratio_to_5day_avg_days: 5
    boll_break_middle_band: true
    rsi_period: 6
    rsi_cross_30: true
    rsi_lower_limit: 30
    rsi_upper_limit: 70
    kdj_gold_cross: true
    kdj_j_upper_limit: 50
    kdj_j_lower_limit: 20
    min_daily_turnover_rate: 3.0
    max_daily_turnover_rate: 25.0
  涨停板次日溢价:
    min_turnover_rate: 5.0
enabled_strategies:
  - 东方财富短线策略
  - 涨停板次日溢价
# Add this new setting
target_stock_count: 30